.container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 30px;
    margin-bottom: 12px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background: linear-gradient(
        136deg,
        rgba(104, 104, 104, 0.5) 5.85%,
        rgba(71, 69, 69, 0.5) 104.7%
    );
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 2px;
}

.boardItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 3px solid transparent;
    border-radius: 5px;
    background: linear-gradient(138deg, #303030 14.52%, #302d2d 96.64%);
    margin: 5px;
    transition: all 0.2s;
}

.boardItem:hover {
    border-color: #11589a;
}

.cross {
    background: url('./cross.png');
}

.winLine {
    background: linear-gradient(127deg, #11589a 14.52%, #114e9a 96.64%);
}

.imageCross {
    width: 57px;
}

.imageZero {
    width: 60px;
}

.status {
    font-size: 18px;
    color: #9d9494;
    margin-bottom: 15px;
}
